h2 {
  color: #2563eb;
  font-size: 28px;
  text-align: center;
  margin: 30px 0;
}

/* When h1 is INSIDE form box (Edit page) */
.class-name h1 {
  margin: 0 0 25px;
}

/* FORM CONTAINERS */
.class-name,
.form-container {
  background: #ffffff;
  width: 45%;
  margin: 40px auto;
  padding: 35px 40px;
  border-radius: 22px;
  box-shadow: 0 10px 25px rgba(37, 99, 235, 0.2);
}

/* Signup & Login width */
.form-container {
  max-width: 350px;
}

/* FORM for add complaint*/
form {
  display: flex;
  flex-direction: column;
  gap: 18px;
}

label {
  font-size: 17px;
  font-weight: 600;
  color: #141619;
}

input,
select,
textarea {
  padding: 12px 14px;
  font-size: 15px;
  border-radius: 12px;
  border: 1.5px solid #c7d2fe;
  transition: 0.3s ease;
}

textarea {
  resize: none;
}

/* File input */
input[type="file"] {
  padding: 10px;
}

input:focus,
select:focus,
textarea:focus {
  border-color: #2563eb;
  box-shadow: 0 0 0 2px rgba(37, 99, 235, 0.15);
}

/* BUTTON */
button {
  margin-top: 10px;
  padding: 14px;
  border-radius: 14px;
  border: none;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  color: #fff;
  background: linear-gradient(to right, #2563eb, #06b6d4);
  transition: 0.3s ease;
}

button:hover {
  transform: translateY(-2px);
  box-shadow: 0 8px 20px rgba(37, 99, 235, 0.3);
}

/* SIGNUP / LOGIN TEXT  */
.form-container p {
  text-align: center;
  margin-top: 18px;
  font-size: 15px;
}

.form-container a {
  color: #2563eb;
  text-decoration: none;
  font-weight: 500;
}

.form-container a:hover {
  text-decoration: underline;
}

/* ================= RESPONSIVE ================= */
@media (max-width: 768px) {
  .class-name,
  .form-container {
    width: 90%;
    padding: 25px;
  }

  h2 {
    font-size: 26px;
  }
}
