/* COMMON STYLES */
.btn {
    padding: 10px 18px;
    border: none;
    border-radius: 10px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease;
    display: inline-block;
    text-decoration: none;
    color: #fff;
    margin-right: 10px;
}

/* VOTE BUTTON */
.vote-btn {
    background-color: #ff2a8d;
}

.vote-btn:hover {
    background-color: #ff0062;
    transform: scale(1.05);
}

/* COMMENT BUTTON */
.comment-btn {
    background-color: #00adf7;
}

.comment-btn:hover {
    background-color: #0095d1;
    transform: scale(1.05);
}
