/* ===== MY COMPLAINT ACTION BUTTONS ===== */
.edit-btn,
.delete-btn {
    padding: 10px 22px;
    border: none;
    border-radius: 22px;
    font-size: 15px;
    cursor: pointer;
    font-weight: 600;
    transition: all 0.3s ease;
    margin-top: 15px;
    margin-right: 15px;
    text-decoration: none;
}

/* Edit Button */
.edit-btn {
    background-color: #22c55e;
    color: #ffffff;
}

.edit-btn:hover {
    background-color: #16a34a;
}

/* Delete Button */
.delete-btn {
    background-color: #ef4444;
    color: #ffffff;
}

.delete-btn:hover {
    background-color: #dc2626;
}
