/* ===== GLOBAL ===== */
body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", sans-serif;
  background: linear-gradient(to right, #f3f8ff, #ffffff, #f6fbff);
}

/* ===== NAVBAR ===== */
.navbar {
  background: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  border-bottom: 1px solid #dadada;
  min-height: 60px;
  flex-wrap: wrap;
}

/* ===== LEFT ===== */
.nav-left {
  display: flex;
}

/* LOGO */
.logo {
  display: flex;
  align-items: center;
  gap: 15px;
  padding: 6px 1px;
}

.logo img {
  height: 40px;
  width: 40px;
  border-radius: 50%;
}

.logo h1 {
  margin: 0;
  font-size: 28px;
  color: #0051ff;
  white-space: nowrap;
}

/* ===== CENTER LINKS ===== */
.nav-links {
  display: flex;
  gap: 25px;
  list-style: none;
}

.nav-links a {
  text-decoration: none;
  color: #012f92;
  font-size: 20px;
  padding: 7px 15px;
  border-radius: 50px;
  border: 2.5px solid transparent;
}

/* Freshworks hover */
.nav-links a:hover {
  background:
    linear-gradient(#fff, #fff) padding-box,
    linear-gradient(90deg, #ff8c00, #00A0E3, #7AC943, #FFCB00) border-box;
}

/* ===== RIGHT ===== */
.nav-right {
  display: flex;
  gap: 10px;
}

.language img {
  width: 45px;
  height: 45px;
}

/* Login button inside navbar */
.login-btn {
  padding: 6px 14px;
  font-size: 14px;
  font-weight: 500;
  text-decoration: none;

  background-color: #2563eb; /* blue */
  color: #ffffff;            /* white text */

  border-radius: 6px;
  border: none;

  transition: background-color 0.2s ease;
}

/* Hover */
.login-btn:hover {
  background-color: #1e40af; /* darker blue */
}

/* ===== MENU BUTTON ===== */
.hamburger {
  display: none;
  font-size: 28px;
  background: none;
  border: none;
  cursor: pointer;
  color: #006eff;
}

/* ===== MOBILE ===== */
@media (max-width: 768px) {

  .hamburger {
    display: block;
  }

  .nav-links,
  .nav-right {
    display: none;
    flex-direction: column;
    align-items: flex-end;
    width: 100%;
    gap: 20px;
    margin: 10px 0;
  }

  .nav-links.show,
  .nav-right.show {
    display: flex;
  }

  .navbar {
    height: auto;
  }

  .nav-left {
    width: 100%;
    justify-content: space-between;
  }
}